*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .game-board{
            width:80%;
            height: 500px;
            border-bottom: 10px solid green;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            background: linear-gradient(#87CEEB, #E0F6FF);
            
        }
        
        .pipo{
          position: absolute;
          bottom: 0;
          width: 45px;
          right: -80px; 
          animation: pipe-animation 2s infinite linear;
        }

.mario{

    width: 95px;
    position: absolute;
    bottom: 0;
    
}

.play{
 display: none;
}

.jump{
 animation: jump 500ms ease-out; 

}

.clouds{
    position: absolute;
    width: 350px;
    right: -120px;
    animation: nuvem 10s infinite linear;
}
.clouds2{
    position: absolute;
    width: 350px;
    right: -120px;
    animation: nuvem 10s infinite linear;
}

.game-over{
    border: solid 3px;
   
    width: 60%;
    position: absolute;
    margin: 180px;;
    margin-top: 50px;
    height: 400px;
    background-color:floralwhite;
    visibility:hidden;
    animation: abrir-gameover;
    animation-duration: 800ms;
}

.game-over img{
    cursor: pointer;
    width: 60px;
    margin-top: 250px;
    margin-left: 230px;
   

}

.game-over h2{
    position: absolute;
    margin-top: 180px;
    margin-left: 190px;
}


.start{
    width:100%;
    height: 200%;
    border: solid 3px;
    background: linear-gradient(#87CEEB, #E0F6FF);
    position: absolute;
    
    
}

.jogar{
    
    cursor: pointer;
    width: 200px;
    text-align: center;
    border: solid 2px darkorange;
    background-color: darkorange;
    color: white;
    margin-top: 380px;
    margin-left: 350px;

}

.mario2{

 position: absolute;
 margin-top: 220px;
 margin-left: 400px;
 width: 100px;
}

@keyframes jump{
    0%{
        bottom: 0;
    }
    
     40%{
       bottom:180px;   
   }
    
    
    50%{
       bottom:180px;   
   }
    
     60%{
       bottom:180px;   
   }
    
    
    100%{
       bottom: 0; 
    }
}

@keyframes pipe-animation{

    from{
      right: 0;
    }
   
    to{
       right: 100%; 
    }

}


@keyframes nuvem{

    from{
      right: -980;
    }
   
    to{
       right: 100%; 
    }

}

@keyframes abrir-gameover{
from{opacity: 1;}
from{opacity: 0;}

}